<a href="https://colab.research.google.com/github/HazemmoAlsady/ITI_Course/blob/main/session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
num1=3
num2=4
num3=5

# num1+num2
print(f'num1+num2 = {num1+num2}')
#num3-num1
print(f'num3-num1 = {num3-num1}')
# num1*num1+num3
print(f'num1*num1+num3 = {(num1*num1)+num3}')
# num1 * (num2+num3)
print(f'num1*(num2+num3) = {num1*(num2+num3)}')
# num3/num1
print(f'num3/num1 = {num3/num1}')
# num3//num1
print(f'num3//num1 = {num3//num1}')
# num3%num1
print(f'num3%num1 = {num3%num1}')

print('------------------------------')

#change to float
num1=float(num1)
num2=float(num2)
num3=float(num3)

# num1+num2
print(f'num1+num2 = {num1+num2}')
#num3-num1
print(f'num3-num1 = {num3-num1}')
# num1*num1+num3
print(f'num1*num1+num3 = {(num1*num1)+num3}')
# num1 * (num2+num3)
print(f'num1*(num2+num3) = {num1*(num2+num3)}')
# num3/num1
print(f'num3/num1 = {num3/num1}')
# num3//num1
print(f'num3//num1 = {num3//num1}')
# num3%num1
print(f'num3%num1 = {num3%num1}')

num1+num2 = 7
num3-num1 = 2
num1*num1+num3 = 14
num1*(num2+num3) = 27
num3/num1 = 1.6666666666666667
num3//num1 = 1
num3%num1 = 2
------------------------------
num1+num2 = 7.0
num3-num1 = 2.0
num1*num1+num3 = 14.0
num1*(num2+num3) = 27.0
num3/num1 = 1.6666666666666667
num3//num1 = 1.0
num3%num1 = 2.0

In [17]:
x = 1
y = 2
z = 3
g = 4

print(f'x+y**z/g = {x+y**z/g}')
print('y**z = {y**z}')

x+y**z/g = 3.0
y**z = {y**z}

In [23]:
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000

str_ab = str_a+' '+str_b+' '+str(num)+' '+str_c
print(str_ab)

str_a10 = str_a*10
print(str_a10)

Python is a 1000 times fun language
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [29]:
import math
num_1 = -5
num_2 = 3.2
num_3 = 5.7
num_4 = 625
# absolute num1
print(abs(num_1))

# round num2 & num3
print(f'{round(num2)} and {round(num3)}')

# square of num4
print(math.sqrt(num_4))

5
4 and 5
25.0

In [32]:
number = int(input('enter number'))
if number %2 == 0:
    print(f'{number} is even')
else:
    print(f'{number} is odd')

enter number-2
-2 is even

In [33]:
number = int(input('enter number between 0-100'))
if number >=50:
  print(f'{number} is pass')
else:
  print(f'{number} is fail')

enter number49
49 is fail

In [34]:
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))
num3 = int(input('enter third number'))
large = max(num1, num2, num3)
print(f'the largest number is {large}')

enter first number1
enter second number2
enter third number3
the largest number is 3

In [36]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [37]:
score = int(input('enter score between 0-100'))
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

enter score between 0-10085
B

In [38]:
number = int(input("Enter a number: "))
for i in range(11):
  print(f'{number} * {i} = {number*i}')

Enter a number: 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [40]:
total=0
for i in range(51):
  if i %2==0:
    total+=1

print(total)

26

In [41]:
number = int(input("Enter a number: "))
fact=1
i=1
while i<=number:
  fact = fact*i
  i+=1
print(fact)

Enter a number: 4
24